body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  min-height: 100vh;
  background-color: #f8f9fa;
}

.login-card {
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  overflow: hidden;
}

.login-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #212529;
  border-radius: 5px;
  margin: 0px;
}

.card-body {
  padding: 1.5rem;
}

.user-icon-container {
  font-size: 4rem;
  color:#212529;
}

.btn-primary {
  background-color: #212529;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #000;
}
